 html ,body{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: lato ,sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color:black;

}

.image1{
    background-image: url(images/nature1.jpg);
    min-height: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.image2{
background-image: url(images/nature2.jpg);
min-height: 400px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.image3{
background-image: url(images/nature3.jpg);
min-height: 400px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.image1,.image2,.image3{
    background-attachment: fixed;
}

.text{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
  text-transform: uppercase;
}


.textbg{
    background:black;
    color: white;
    padding: 20px;
}

.section{
    padding: 50px 80px;
    text-align: center;

}

.section_light{
    background-color: grey;
    color: black;
}

.section_dark{
    background-color: lightcoral;
    color: bl;
}
